<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function check_login(event){
            event.preventDefault(); // 폼 제출 방지

            let param = {
                username: $("#id").val(),
                password: $("#password").val()
            };

            $.ajax({
                url: "{% url 'accounts:login2' %}",
                type: 'post',
                data: param,
                dataType: "json",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(data){
                    if(data.result != 'success'){
                        alert(data.result);
                    }
                    else{
                        location.href = "/";
                    }
                }
            });
        }

        $(document).ready(function(){
            $("#loginForm").on("submit", check_login);
        });
    </script>
</head>
<body>
    <h2>Login</h2>
    <form id="loginForm">
        {% csrf_token %}
        <label for="id">id:</label><br>
        <input type="text" id="id" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>