/* .dashboard {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination .step-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #009879;
}

.pagination .step-links .current {
    margin: 0 5px;
}

.loader {
    text-align: center;
    font-size: 16px;
    color: #009879;
    margin: 20px 0;
}